a {
    display: inline-block;
    margin : 5px;

}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

label {
    float: left;
}

input,label,button, form a{
    padding : 5px;
    margin : 5px;
    width : 120px
}
 